<li>
    <a href="<%= comment_url(collection) %>"><%= collection.content %></a> 
    <p>- <%= collection.user.username%></p>
    <ul>
    <% @all_comments.each do |sub_comment| %>
        <% if sub_comment.parent_comment_id == collection.id %>
            <%= render "comment", collection: sub_comment  %>
        <% end %>
    <% end %>
    </ul>
</li>