<% collection.each do |sub_comment| %>
    <li> 
        <a href="<%= comment_url(sub_comment) %>"><%= sub_comment.content %></a> 
        <p>-<%= sub_comment.user.username%></p>
        <ul>
            <% if sub_comment.child_comments %>
                <%= render "comment", collection: sub_comment.child_comments %>
            <% end %>
        </ul>
    </li>
<% end %>