<h1>Create a New Post</h1>

<form action="<%= posts_url%>" method="POST">
    <input type="hidden" name="authenticity_token"value="<%=form_authenticity_token%>">
    <label>Title 
        <input type="text" name="post[title]">
    </label>
    <label>URL 
        <input type="text" name="post[url]">
    </label>

    <label>Content 
        <input type="text" name="post[content]">
    </label>


    <% Sub.all.each do |sub| %>
        <label><%= sub.title %> 
            <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id%>">
        </label>

    <% end %>


    <input type="submit" value="Add Post">
</form>