<h1>Create a New Account</h1>

<form action="<%= users_url%>" method="POST">
    <input type="hidden" name="authenticity_token"value="<%=form_authenticity_token%>">
    <label>Username 
        <input class="comment-box" type="text" name="user[username]">
    </label>
    <label>Password 
        <input  class="comment-box" type="password" name="user[password]">
    </label>
    <input class="create" type="submit" value="Sign Up" style="margin-left: 30px">
</form>