
<h1> Subreddits </h1>
<br>
<br>
<ul class="subs">
<% @subs.each do |sub|  %>
    <li><a href="<%= sub_url(sub)%>"> <%= sub.title %> </a></li>
<% end %>
</ul>

<br>
<br>

<form action="<%=new_sub_url%>" method="get">
        <input type="hidden" name="authenticity_token"value="<%=form_authenticity_token%>">
        <input class="create" type="submit" value="Create A New Subreddit">
</form>
