/* PHASE 2: Notifications */

.badge {
   margin-left: 5px; 
   background-color: black;
   border-radius: 25px;
   padding: 5px 8px;
   font-size: 14px;
}

.drop-down {
    display: none;
    position: absolute;
    white-space: nowrap;
    background-color: rgb(236, 236, 236);
    color:black;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    width: inherit;
}

.header-list > li:hover .badge {
    background-color: red;
}

.drop-down > li
{
    font-size: 14px;
    border-top: 1px solid gray;
}

.drop-down > li:hover
{
    background-color: darkgray;
}

.header-list > li:hover .drop-down {
    display: block;
}